.Francisco{
font-style: inherit;
color:firebrick;
text-align: center;
background-color: black;
padding-top: 25px;
padding-bottom: 26px;
margin: 000px;
m
}
body{background-color:rgb(204, 86, 7);
margin: 0px;